%section#overview
  %h2
    Overview
  %p
    Last updated
    - if last_updated = @real_time_data.updated_at
      = time_ago_in_words(last_updated, :include_seconds => true)
      ago
    - else
      never
  .row
    .col-xs-6.col-sm-6.col-md-3.col-lg-3
      .panel.panel-primary
        .panel-heading
          = fa_icon("building", :text => "Projects")
        .panel-body
          = number_to_human(@real_time_data.projects_count)
    .col-xs-6.col-sm-6.col-md-3.col-lg-3
      .panel.panel-warning
        .panel-heading
          = fa_icon("phone", :text => "Phone Calls")
        .panel-body
          = number_to_human(@real_time_data.phone_calls_count)
    .col-xs-6.col-sm-6.col-md-3.col-lg-3
      .panel.panel-info
        .panel-heading
          = fa_icon("wechat", :text => "SMS")
        .panel-body
          = number_to_human(@real_time_data.sms_count)
    .col-xs-6.col-sm-6.col-md-3.col-lg-3
      .panel.panel-success
        .panel-heading
          = fa_icon("money", :text => "Savings")
        .panel-body
          = @real_time_data.amount_saved

%hr

%section#projects
  %h2
    Projects

  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      %table.table.table-striped
        %caption
          %h5
            Legend
          .row
            .col-xs-6.col-sm-6.col-md-3.col-lg-3
              = fa_icon("hashtag", :text => "= Project #")
            .col-xs-6.col-sm-6.col-md-3.col-lg-3
              = fa_icon("pencil", :text => "= Name")
            .col-xs-6.col-sm-6.col-md-3.col-lg-3
              = fa_icon("file-text-o", :text => "= Description")
            .col-xs-6.col-sm-6.col-md-3.col-lg-3
              = fa_icon("phone", :text => "= Phone Calls")
            .col-xs-6.col-sm-6.col-md-3.col-lg-3
              = fa_icon("wechat", :text => "= SMS")
            .col-xs-6.col-sm-6.col-md-3.col-lg-3
              = fa_icon("money", :text => "= Savings")
            .col-xs-6.col-sm-6.col-md-3.col-lg-3
              = fa_icon("globe", :text => "= Location")
            .col-xs-6.col-sm-6.col-md-3.col-lg-3
              = fa_icon("edge", :text => "= Homepage")
            .col-xs-6.col-sm-6.col-md-3.col-lg-3
              = fa_icon("tag", :text => "= Comparison Voice Pricing")
            .col-xs-6.col-sm-6.col-md-3.col-lg-3
              = fa_icon("tags", :text => "= Comparison SMS Pricing")

        %thead
          %tr
            %th
              = fa_icon("hashtag")
            %th{:title => "Name"}
              = fa_icon("pencil")
            %th{:title => "Description"}
              = fa_icon("file-text-o")
            %th{:title => "Phone Calls"}
              = fa_icon("phone")
            %th{:title => "SMS"}
              = fa_icon("wechat")
            %th{:title => "Savings"}
              = fa_icon("money")
            %th{:title => "Project Location"}
              = fa_icon("globe")
            %th{:title => "Project Homepage"}
              = fa_icon("edge")
            %th{:title => "Comparison Voice Pricing"}
              = fa_icon("tag")
            %th{:title => "Comparison SMS Pricing"}
              = fa_icon("tags")
        %tbody
          - @projects.each_with_index do |project, index|
            %tr
              %th{:scope => "row"}
                = index + 1
              %td{:title => "Name"}
                = project.name
              %td{:title => "Description"}
                = truncate(project.description, :length => 40)
                %p
                  %span
                    = link_to("Read More", project.homepage, :title => "Project Homepage", :target => "_blank")
              %td{:title => "Phone Calls"}
                = number_to_human(project.phone_calls_count)
              %td{:title => "SMS"}
                = number_to_human(project.sms_count)
              %td{:title => "Savings"}
                = project.amount_saved.format
              %td{:title => "Project Location"}
                = project.country_name
              %td{:title => "Project Homepage"}
                = link_to(project.homepage, :title => "Project Homepage", :target => "_blank") do
                  = fa_icon("edge")
              %td{:title => "Comparison Voice Pricing"}
                = link_to(project.twilio_price_voice_url, :title => "Twilio Voice Pricing", :target => "_blank") do
                  = fa_icon("tag")
              %td{:title => "Comparison SMS Pricing"}
                = link_to(project.twilio_price_sms_url, :title => "Twilio SMS Pricing", :target => "_blank") do
                  = fa_icon("tags")

%hr

%section#api
  %h2
    API
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      %section#get_real_time_data
        %h3
          GET Real Time Data
        %p
          Retuns aggregate data about all the projects that are using Somleng.
        %h5
          API Endpoint
        %code
          = api_real_time_data_url
        %h5
          CURL Request
        %pre
          = preserve do
            :escaped
              $ curl #{api_real_time_data_url}
        %h5
          Response
        %pre
          = preserve do
            = JSON.pretty_generate(JSON.parse(@real_time_data.to_json))
      %section#get_projects
        %h3
          GET Projects
        %p
          Returns a list of Projects which are currently using Somleng.
        %h5
          API Endpoint
        %code
          = api_projects_url
        %h5
          CURL Request
        %pre
          = preserve do
            :escaped
              $ curl #{api_projects_url}
        - if @projects.any?
          %h5
            Response
          %pre
            = preserve do
              = JSON.pretty_generate(JSON.parse(@projects.to_json))
      %section#get_project
        - project_id = (@sample_project && @sample_project.id) || ":project_id"
        %h3
          GET Project
        %p
          Returns a single project given an id
        %h5
          API Endpoint
        %code
          = api_project_url(project_id)
        %h5
          CURL Request
        %pre
          = preserve do
            :escaped
              $ curl #{api_project_url(project_id)}
        - if @sample_project
          %h5
            Response
          %pre
            = preserve do
              = JSON.pretty_generate(JSON.parse(@sample_project.to_json))
